@mixin button {
    padding: .75rem 2.2rem;
    background-color: black;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, .95), rgba(255, 121, 218, .95));
    border-radius: 2rem;
    color: white;
    text-decoration: none;
    box-shadow: 0.25rem 0.25rem 0.5rem #0000002e;
    transition-duration: 0.3s;
    &:hover {
        background-color: white;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
    }
}

@mixin ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}